
/* Main */
body {
font-family: 'Lato', sans-serif;
}

p {
font-size: medium;
font-family: 'Lato', sans-serif;
}

/* Classes */
.col-3 {
  font-family: 'Lato', sans-serif;
  height: 90vh;
  background-color: white;
}

.btn {
  width: 100%;
  height: 10%;
  margin-bottom: 7px;
  border-radius: 5px;
  background-color: rgb(202, 202, 202);
}

/* UV Classes */
.low {
  background-color: green;
  width: 10%;
}

.moderate {
  background-color: yellow;
  width: 10%;
}

.high {
  background-color: orange;
  width: 10%;
}

.veryhigh {
  background-color: red;
  width: 10%;
}


/* IDs */
#header {
  font-family: 'Lato', sans-serif;
  background-color: blue;
  height: 90px;
  text-align: center;
  color: white;
}

#city-search {
  padding-top: 9px;
}

#input {
  width: 60%;
  height: 5%;
}

#btn {
  height: 5%;
  background-color: rgb(0, 132, 255);
  color: white
}

#forecastCard {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  padding: 3px;
  height: 250px;
}

#forecastIcon {
  display: flex;
  width: 100px;
  height: 100px;
}

#cardContainer {
  margin-right: 5px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding-right: 10px;
}

#previousSearch {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#city {
  margin-top: 10px;
  height: 45%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 20px;
}

#currentForcast {
  margin-bottom: 25px;
}






